<div id="cookies-message" class="bg-white p-3 m-3 shadow rounded">
	<p class="font-weight-bold">
		¿Aceptas Cookies?
		<!-- <i class="fas fa-cookie-bite"></i> -->
		<svg class="icon-inline"><use xlink:href="#icon-cookie"></use></svg>
	</p>
	<p>Usamos cookies de terceros, analizando tus hábitos de navegación, para mejorar nuestros servicios y facilitar la navegación. Si continúas navegando, consideramos que aceptas su uso.</p>
	<button type="button" class="btn btn-light w-100 mb-3" onclick="location.href='{{ site.baseurl }}/legal#cookies'">✚ Leer más</button>
	<button type="button" id="cookies-message-acept" class="btn btn-primary w-100">✔ OK</button>
</div>