<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 text-center text-lg-left">
                <span class="d-inline-block m-2">
                    <!-- <i class="fas fa-copyright"></i> -->
                    <svg fill="currentColor" class="icon-inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 8a248 248 0 100 496 248 248 0 000-496zm117 347c-1 2-40 45-110 45-84 0-144-63-144-145 0-81 62-143 144-143 67 0 102 37 103 38a12 12 0 011 15l-22 35c-4 6-13 7-18 2-1 0-27-24-62-24-46 0-74 34-74 76 0 40 25 80 74 80 39 0 65-28 66-29 5-5 14-5 18 1l25 34a12 12 0 01-1 15z"/></svg>
                    <a href="{{ site.baseurl }}/">{{ site.title }}</a>
                </span>
                <span class="d-inline-block m-2">
                    <!-- <i class="fab fa-instagram"></i> -->
                    <svg fill="currentColor" class="icon-inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M16 11.3a4.7 4.7 0 100 9.4 4.7 4.7 0 000-9.4z"/><path d="M29.9 10.2a8.7 8.7 0 00-2.2-5.9 8.7 8.7 0 00-5.9-2.2H10.2C8 2.2 6 2.7 4.4 4.3S2.2 8 2.1 10.2v11.6c.1 2.2.6 4.2 2.3 5.8s3.6 2.1 5.9 2.3h11.6c2.2-.1 4.2-.6 5.9-2.3 1.6-1.6 2.1-3.6 2.3-5.9l-.2-11.5zM16 23.2c-4 0-7.2-3.2-7.2-7.2S12 8.8 16 8.8s7.2 3.2 7.2 7.2-3.2 7.2-7.2 7.2zm7.5-13c-.9 0-1.7-.8-1.7-1.7s.8-1.7 1.7-1.7 1.7.8 1.7 1.7c0 1-.8 1.7-1.7 1.7z"/></svg>
                    <a href="https://www.instagram.com/mariasaanchez/" target="_blank">@mariasaanchez</a>
                </span>
            </div>
            <div class="col-md-6 col-sm-12 text-center text-lg-right">   
                <span class="d-inline-block m-2">
                    <!-- <i class="fas fa-lock"></i> -->
                    <svg fill="currentColor" class="icon-inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 224h-24v-72a152 152 0 00-304 0v72H48c-26 0-48 22-48 48v192c0 27 22 48 48 48h352c27 0 48-21 48-48V272c0-26-21-48-48-48zm-104 0H152v-72a72 72 0 01144 0v72z"/></svg>
                    {% if page.url == '/' %}
                        <a href="{{ site.baseurl }}/legal#datos-seguros" target="_blank">Sus Datos Seguros</a>
                    {% else %}
                        <span onclick="location.href='{{ site.baseurl }}/legal#datos-seguros'">Sus Datos Seguros</span>
                    {% endif %}
                </span>
                <span class="d-inline-block m-2">
                    <!-- <i class="fas fa-shield-alt"></i> -->
                    <svg fill="currentColor" class="icon-inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M467 84L275 4a48 48 0 00-37 0L46 84c-18 7-30 25-30 44 0 199 115 336 222 380 11 5 25 5 36 0 86-35 222-159 222-380 0-19-12-37-29-44zM256 446V65l176 74c-3 151-82 261-176 307z"/></svg>
                    {% if page.url == '/' %}
                        <a href="{{ site.baseurl }}/legal#proteccion-datos" target="_blank">Protección de Datos</a>
                    {% else %}
                        <span onclick="location.href='{{ site.baseurl }}/legal#proteccion-datos'">Protección de Datos</span>
                    {% endif %}
                </span>
                <span class="d-inline-block m-2">
                    <!-- <i class="fas fa-cookie-bite"></i> -->
                    <svg id="icon-cookie" class="icon-none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M511 256c-70-1-127-58-127-128-70 0-127-57-128-126-27-5-55 0-80 12l-69 36a132 132 0 00-57 57l-36 69a133 133 0 00-12 81l12 76a133 133 0 0037 73l55 55a132 132 0 0072 37l77 12c28 5 56 0 81-12l69-36a132 132 0 0058-57l35-69c12-25 17-53 13-80zM176 368a32 32 0 110-64 32 32 0 010 64zm32-160a32 32 0 110-64 32 32 0 010 64zm160 128a32 32 0 110-64 32 32 0 010 64z"/></svg>
                    <svg class="icon-inline"><use xlink:href="#icon-cookie"></use></svg>
                    <span id="cookies-message-toggle">Cookies</span>
                </span>
            </div>

        </div>
    </div>
</footer>

{% include btn-up.html %}
{% include cookies-message.html %}

<!-- Scripts (without bootstrap.js) -->
<script src="{{ site.baseurl }}{{ assetsdir }}/js/scripts.js" async></script>
