<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "logo": "{{ site.url }}{{ site.baseurl }}/assets/img/icono.png",
    "name": "{{ site.name }}",
    "description": "{{ site.description }}",
    "url": "{{ site.url }}/",
    "sameAs": [
      "https://www.instagram.com/mariasaanchez/"],
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Ordalweg",
      "postalCode": "443009",
      "addressLocality": "Dortmund",
      "addressRegion": "Dortmund",
      "addressCountry": "DE"
    },
    "image": [
      "{{ site.url }}{{ site.baseurl }}/assets/img/logo.svg",
      "{{ site.url }}{{ site.baseurl }}/assets/img/logo-lg.jpg",
      "{{ site.url }}{{ site.baseurl }}/assets/img/maria.jpg",
      "{{ site.url }}{{ site.baseurl }}/assets/img/avatar.jpg"]
  }
</script>