.btn-up {
  position: fixed;
  bottom: 0;
  right: 0;
  transition: all .5s;
  z-index: 10;
}
.btn-up.btn-up-hide {
  opacity: 0;
  bottom: -4em;
}
.btn-up-aux {
  position: absolute;
  top: 100vh;
  width: 0;
  height: 0;
  overflow: hidden;
}